.header{
    background-color:#f1f1f1;
        text-align:center;
        padding:40px;
        margin: auto;
        max-width:700px;

}
.body{
     max-width:700px;
        margin:30px auto;
        padding: 15px;
        /* line-height:1.7; */
}
.footer{
    background-color:#f1f1f1;
        text-align:center;
        padding: 40px;
        font: size 8px;
        max-width:700px;
        margin :auto;
        color: red;
}
.main a{
    text-decoration: none;
    color: rgb(21, 30, 34);
}
.main a:hover{
    text-decoration: underline;
}
.main{
    line-height: 50px;
    font-size: large;
}